.profile__info {
    display: flex;
    color: white;
    flex-direction: column;
    margin-left: 26px;
}

@media screen and (max-width:1000px) {
    .profile__info {
        align-items: center;
    }
}