.popup__container {
    display: flex;
    position: relative;
    max-width: 430px;
    max-height: 330px;
    background-color: white;
    flex-direction: column;
    border-radius: 10px;
}


@media screen and (max-width:650px) {
    .popup__container {
        max-width: 282px;
        height: 322px;
    }
}