.profile {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 48px;
}


@media screen and (max-width:1240px) {
    .profile {
        flex-direction: column;
    }
}