.popup__close {
    position: absolute;
    background-image: url(../../../images/closeicon.svg);
    width: 32px;
    height: 32px;
    background-size: contain;
    border: none;
    background-color: transparent;
    right: -40px;
    top: -40px;
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width:650px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0;
    }
}