.popup__close-container {
    background-image: url("../../../../images/closeicon.svg");
    position: absolute;
    background-color: transparent;
    background-size: contain;
    border: none;
    right: -40px;
    top: -40px;
    width: 32px;
    height: 32px;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.5s ease-out;
}

.popup__close-container:hover {
    opacity: 0.6;
}

@media screen and (max-width: 680px){
    .popup__close-container {
        right: 0;
        top: -35px;
        width: 20px;
        height: 20px;
    }
}