.profile__avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-right: 26px;
    object-fit: cover;

}

@media screen and (max-width:1000px) {
    .profile__avatar {
        margin-bottom: 22px;
        margin-right: 0;
    }

}